<%# <%= @msg %> 
<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <%= render 'product_details', product: @product %>  <!--pass @product so that _product_details can use it as local var--><!--calling ruby method impicit: render ('product_details', {product: @product}) contains 2 params: 1(partial template) + hash(key value pairs) -->
      <!--<%= render :partial => 'product_details', locals: { product: @product } %>--> <!--old way, more verbose-->
    </div>

  </article>

</section>
